.universal{
    
    font-family: 'PT Sans', sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    font-weight: bold;
    display: flex;

    
}
.header ul{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    padding-top: 10px;
    margin-bottom: 5px;
}
.header a{
    text-decoration:none;
    color: black;
}
.header_paulini{
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    margin-left: 100px;
}
.header_variety{
    margin-left:  400px;
}
.header_offers{
    margin-left: 30px;
}
.header_contact{
    margin-left: 30px;
}
.header_aboutus{
    margin-left: 200px;
}
.principal{
    width: 100%;
    height: 500px;
    display: flex; 
    flex-direction: row;
}
.principal .box{
    width: 50%;
    height: 100%;
    display: flex;
    color: black;
    font-weight: bold;
}
.principal_box1{
    flex-direction: column;

}
.principal_text_1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 100px;
    margin-top: 100px;
    opacity: 0.7;
}
.principal_text_2{
    font-size: 70px;
    margin-left: 100px;
}
.principal_text_3{
    display: inline-block;
    margin-top: 30px;
    margin-left: 100px;
    padding: 20px 40px;
    border-radius: 10px;
    border: dotted skyblue;
    border-width: 2px;
    font-weight: bold;
}
.principal_text_3 a{
    text-decoration: none;
    color: rgb(58, 185, 228);
}
.principal_box2{
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.princpial_img{
    width: 550px;
    height: 500px;
    margin-right: 100px;
}
.variety{
    width: 100%;
}
.variety_text_1{
    margin-top: 120px;
    font-size: 60px;
    margin-left: 100px;
}
.variety_text_2{
    font-size: 30px;
    font-weight: 100;
    margin-left: 100px;
    padding-top: 20px;
    opacity: 0.7;
}
.sanguine{
    width: 100%;
    height: 400px;
    display: flex;
}

.box-sanguineimg{
    width: 50%;
    height: 100%;
}
.sanguineimg{
    padding: 20px;
    height: 300px;
    margin-left: 100px;
    margin-top: 20px;
    position:relative;
    right: 100px;
}

.box-sanguinetext{
    width: 50%;
    height: 100%;
    background-color: lightskyblue;
}
.sanguinetext-1{
    font-weight: bold;
    font-size: 40px;
  
    
}
.sanguinetext-2{ 
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    opacity: 0.7;
}
.kg-1{
    border: 2px solid gray;
    font-size: 30px;
    padding: 20px 50px 90px;
    box-shadow: 10px;
    margin-top: 100px;
    position: absolute;
    right: 250px;
}
.price-1{
    font-size: 30px;
    position: absolute;
    right: 260px;
    margin-top: 190px;

}
.navel{
    width: 100%;
    height: 400px;
    display: flex;
}
.box-naveltext{
    width: 50%;
    height: 100%;
    background-color: orange;
}   
.box-navelimg{
    width: 50%;
    height: 100%;
    background-color: lime;
    
}
.navelimg{
    height: 450px;
    padding-bottom: 400px;
}
.naveltext-1{
    margin-left: 100px;
    font-weight: bold;
    font-size: 40px;
}  
.naveltext-2{
    margin-left: 110px;
    margin-top: 20px;
    font-weight: bold;
    opacity: 0.7;
}
.kg-2{
    border: 2px solid gray;
    font-size: 30px;
    padding: 20px 50px 90px;
    box-shadow: 10px;
    margin-top: 110px;
    position: absolute;
    left: 200px;
}
.price-2{
    font-size: 30px;
    position: absolute;
    left: 210px;
    margin-top: 200px;
}
.smooth{
    width: 100%;
    height: 400px;
    display: flex;
}
.box-smoothimg{
    width: 50%;
    height: 100%;
    background-color: lightgreen;
}
.smoothimg{
    height: 450px;
    padding-bottom: 400px;
}
.box-smoothtext{
    width: 50%;
    height: 100%;
    background-color: skyblue;
}
.smoothtext-1{
    margin-left: 100px;
    font-weight: bold;
    font-size: 40px;
}
.smoothtext-2{
    margin-left: 100px;
    margin-top: 20px;
    font-weight: bold;
    opacity: 0.7;
}
.kg-3{
    border: 2px solid gray;
    font-size: 30px;
    padding: 20px 50px 90px;
    box-shadow: 10px;
    margin-top: 300px;
    position: absolute;
    
}
.price-3{
    font-size: 30px;
}



