.universal{
    
    font-family: 'PT Sans', sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    font-weight: bold;
    display: flex;
    
}
.header ul{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    padding-top: 10px;
    margin-bottom: 5px;
}
.header a{
    text-decoration:none;
    color: black;
}
.header_paulini{
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    margin-left: 100px;
}
.header_variety{
    margin-left:  400px;
}
.header_offers{
    margin-left: 30px;
}
.header_contact{
    margin-left: 30px;
}
.header_aboutus{
    margin-left: 300px;
}
.principal{
    width: 100%;
    height: 500px;
    display: flex; 
    flex-direction: row;
}
.principal .box{
    width: 50%;
    height: 100%;
    display: flex;
    color: black;
    font-weight: bold;
}
.principal_box1{
    flex-direction: column;

}
.principal_text_1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 100px;
    margin-top: 100px;
    opacity: 0.7;
}
.principal_text_2{
    font-size: 70px;
    margin-left: 100px;
}
.principal_text_3{
    display: inline-block;
    margin-top: 30px;
    margin-left: 100px;
    padding: 20px 40px;
    border-radius: 10px;
    border: dotted skyblue;
    border-width: 2px;
    font-weight: bold;
}
.principal_text_3 a{
    text-decoration: none;
    color: rgb(58, 185, 228);
}
.principal_box2{
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.princpial_img{
    width: 550px;
    height: 500px;
    margin-right: 100px;
}
.variety{
    width: 100%;
    height: 500px;
    display: flex; 
    flex-direction: row;

}
.variety .box{
    width: 50%;;
    height: 100%;
    display: flex;
    color: black;
    font-weight: bold;
    
}
.variety_text_1{
    font-size: 60px;
    margin-left: 100px;
}
.variety_text_2{
    font-size: 30px;
    font-weight: 100;
    margin-left: 100px;
    padding-top: 20px;
    opacity: 0.7;
}
.variety_box_1{
    background-color: black;
    flex-direction: column;
}
.variety_box_2{
    background-color: hotpink;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}





